<h1><%= client_name(@client) %></h1>

<p>Email: <%= mail_to @client.email %></p>

<% if @client.accounts.empty? %>
  <p>You have no accounts, fool! Open one!</p>
<% else %>
  <ul>
    <% @client.accounts.each do |account| %>
      <li><%= account.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Edit #{client_name(@client)}", edit_client_path(@client) %>
<%= link_to "Delete #{client_name(@client)}", client_path(@client), method: :delete %>

